# 1.Manipulating Using a List.
1) To add new elements to the end of the list
2) To reverse element in the list.
3) To display the same list of elements multiple  times.
4) To concatenate two list.
5)To sort the elements in th list in ascending order.

In [1]:
lst=[5,20,40,15,4]
lst

[5, 20, 40, 15, 4]

In [2]:
#1) To add new elements to the end of the list
lst.append(6)
print('Added a element in end of list \n:',lst)

lst.extend([85,66])
print('Added multiple elements in end of list \n:',lst)

Added a element in end of list
: [5, 20, 40, 15, 4, 6]
Added multiple elements in end of list
: [5, 20, 40, 15, 4, 6, 85, 66]

In [11]:
#2)To reverse element in the list.
lst.reverse()
print('Reversed elements are \n:',lst)

Reversed elements are
: [66, 85, 6, 4, 15, 40, 20, 5]

In [12]:
#3) To display the same list of elements multiple  times.
lst=lst*4
print('Same list of elements multiple times \n:',lst)

Same list of elements multiple times
: [66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5]

In [17]:
#4)To concatenate two list.
lst1=[5,9,6]
lst2=[7,2,8]
lst1.extend(lst2)
print(lst1)

[5, 9, 6, 7, 2, 8]

In [19]:
#5)To sort the elements in th list in ascending order.
lst1.sort()
print('After sorting \n:',lst1)

After sorting
: [2, 5, 6, 7, 8, 9]

# 2.Write a python program to do in tuples.
1)Manipulate using tuples.
2)To add new elements to the end of tuples.
3)To reverse elements in the list.
4)To display the elements of the same tuple multiple times.
5)To concatentate two tuples.
6)To sort the elements in the list in ascending order.

In [33]:
tup=(4,5,6,7)
#1)Manipulate using tuples.
tup1=tup+(8,9,10)
print('Manipulated tuple is \n:',tup1)
#2)To add new elements to the end of tuples.
new_tup = (1,2,3)
tup+=new_tup
print('Added elements to end of tuple \n:',tup)
#3)To reverse elements in the list.
rev_tup=tuple(reversed(tup))
print('Reversed tuple \n:',rev_tup)
#4)To display the elements of the same tuple multiple times.
tup=tup*4
print('Same tuple multiple times \n:',tup)
#5)To concatentate two tuples.
tuple1=[5,9,6]
tuple2=[7,2,8]
concat_tup=tuple1+tuple2
print('After concatenate two tuples \n:',concat_tup)
#6)To sort the elements in the list in ascending order.
sort_tup=tuple(sorted(concat_tup))
print('After sorting \n:',sort_tup)

Manipulated tuple is
: (4, 5, 6, 7, 8, 9, 10)
Added elements to end of tuple
: (4, 5, 6, 7, 1, 2, 3)
Reversed tuple
: (3, 2, 1, 7, 6, 5, 4)
Same tuple multiple times
: (4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3)
After concatenate two tuples
: [5, 9, 6, 7, 2, 8]
After sorting
: (2, 5, 6, 7, 8, 9)

# 3.Write a python program to implement the following using list.
1)Create a list with integers(mimimum 10 numbers).
2)How to display the last number in the list.
3)Command for displaying the values from list[0:4].
4)Command for displaying the values from list[2:].
5)Command for displaying the values from list[:6].

In [42]:
#1)Create a list with integers(mimimum 10 numbers).
new_lst=[1,2,3,4,5,6,7,8,10]
print('The list is \n:',new_lst)
#2)How to display the last number in the list.
last_num=new_lst[-1]
print('The last number is \n:',last_num)
#3)Command for displaying the values from list[0:4].
values_0_to_4= new_lst[0:4]
print('Values from list[0:4] \n :', values_0_to_4)
#4)Command for displaying the values from list[2:].
values_from_2 = new_lst[2:]
print('Values from list[2:] \n :', values_from_2)
#5)Command for displaying the values from list[:6].
values_upto_length_6= new_lst[:6]
print('Valued from list[:6] \n:',values_upto_length_6)

The list is
: [1, 2, 3, 4, 5, 6, 7, 8, 10]
The last number is
: 10
Values from list[0:4]
 : [1, 2, 3, 4]
Values from list[2:]
 : [3, 4, 5, 6, 7, 8, 10]
Valued from list[:6]
: [1, 2, 3, 4, 5, 6]

# 4.Write a python program:tuple1=(10,50,20,40,30)
1)To display the elements 10 and 50 from tuple1.
2)To display the length of tuple1.
3)To find the minimum element from tuple1.
4)To add all elements in the tuple1.
5)To display the same tuple1 multiple times.

In [45]:
tuple1=(10,50,20,40,30)
# 1) To display the elements 10 and 50 from tuple1
a,b = tuple1[0],tuple1[1]
print('Elements 10 and 50 from tuple1 \n:',a,b)
# 2) To display the length of tuple1
tuple_length=len(tuple1)
print('Length of tuple1 \n:', tuple_length)
# 3) To find the minimum element from tuple1
min_tuple= min(tuple1)
print('Minimum element from tuple1 \n:',min_tuple)
# 4) To add all elements in tuple1
sum_of_tuple=sum(tuple1)
print('Sum of all elements in tuple1 \n:',sum_of_tuple)
# 5) To display the same tuple1 multiple times
multiple_times=tuple1*4
print('Same Tuple1 multiple times \n:',multiple_times)

Elements 10 and 50 from tuple1
: 10 50
Length of tuple1
: 5
Minimum element from tuple1
: 10
Sum of all elements in tuple1
: 150
Same Tuple1 multiple times
: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a python program :
1)To calculate the length of a string.
2)To reverse words in string.
3)To display the same string multiple times.
4)To concatenate two strings.
5)Str1="South India",using string slicing to display"India".

In [ ]:
5.Write a python program :
1)To calculate the length of a string.
2)To reverse words in string.
3)To display the same string multiple times.
4)To concatenate two strings.
5)Str1="South India",using string slicing to display"India".

In [50]:
# 1) To calculate the length of a string
str='Python Programming'
length_of_string=len(str)
print('Length of the string \n:',length_of_string)

# 2) To reverse words in a string
words=str.split()
rev_words = " ".join(reversed(words))
print('After reverse words in the string \n:',rev_words)

# 3) To display the same string multiple times
str_mul=str*4
print("Same string multiplied times:",str_mul)

# 4) To concatenate two strings
str2= " Language"
concate_string=str+str2
print('The Concatenated two strings are \n:',concate_string)

# 5) Str1 = "South India", using string slicing to display "India"
str1="South India"
slicing=str1[6:]
print('String slicing \n:',slicing)

Length of the string
: 18
After reverse words in the string
: Programming Python
Same string multiplied times: Python ProgrammingPython ProgrammingPython ProgrammingPython Programming
The Concatenated two strings are
: Python Programming Language
String slicing
: India

# 6.Perform the following:
1)Creating the Directory.
2)Accessing values and keys in the Directory.
3)Updating the directory using a function.
4)Clear and delete the directory values.

In [67]:
#1)Creating the Directory.
dir={'fname':'Bijivemula','lname':'Pavan','age':22,'city':'Badvel'}
print('Directory Values \n:',dir)

#2)Accessing values and keys in the Directory.
for key,value in dir.items():
    print(f"{key}:{value}")
    
# 3) Updating the directory using a function
update_age(dir,20)
print("Age:",dir["age"])

#4)Clear and delete the directory values.
dir.clear()
print('After clear the directory values :',dir)
del dir

Directory Values
: {'fname': 'Bijivemula', 'lname': 'Pavan', 'age': 22, 'city': 'Badvel'}
fname:Bijivemula
lname:Pavan
age:22
city:Badvel
Age: 20
After clear the directory values : {}
After deleting the directory values : <built-in function dir>

# 7.Python program to insert a any number to any position in a list.

In [23]:
lst = [2,18,22,64,31]
insert_number_at_position(lst,15,3)
print('After inserting in list \n:',lst)

After inserting in list
: [2, 18, 22, 15, 64, 31]

# 8.Python program to delete an element from a list by index.

In [69]:
lst5=[20,22,5,29,44]
del lst5[1]
print('After deleted an element by index :',lst5)

After deleted an element by index : [20, 5, 29, 44]

# 9.write a program to display a number from 1 to 100.

In [49]:
for num in range(1,101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in tuples.

In [51]:
tup = (9,2,6,5)
tup=sum(tup)
print('Sum pf all items:',tup)

Sum pf all items: 22

# 11.Create a directory containing lamda functions square,cube and square root.
1)E.g.dict={'Square':function for squaring,'Cube':function for cube,'Square root':function for square root}
2)Pass the values(input from the user)to the functions directory respectively.
3)Then add the outputs of each function and print it.

In [1]:
# 1)Create a directory containing lamda functions square, cube and square root.
dict={'Square':lambda x:x**2,'Cube':lambda x:x**3,'Square root':lambda x:x**0.5}

# 2)Pass the values(input from the user)to the functions directory respectively.
num=int(input('Enter number:'))

# 3)Then add the outputs of each function and print it.
print('Square of given number is:',num)
print('Cube of given number is:',num)
print('Square root of given number is:',num)

Enter number:4
Square of given number is: 4
Cube of given number is: 4
Square root of given number is: 4

# 12.A list of words is given.Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','you']

In [59]:
ls=['hello','Dear','hOw','ARe','you']
for word in ls:
    if word[1].isupper():
        print(word)

hOw
ARe

# 13.A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon (wEarth GMoon)/GEarth
1)#Weight of people in kg
WeightOnEarth = ('John':45, 'Shelly':65, 'Marry':35)
2)# Gravitational force on the Moon: 1.622 m/s2
GMoon = 1.622
3)#Gravitational force on the Earth: 9.81 m/s2
GEarth = 9.81

In [67]:
WeightOnEarth={'John':45,'Shelly':65,'Marry':35}
GMoon=1.622
GEarth=9.81
WeightOnMoon=list(map(lambda x:(x[0],x[1]*GMoon/GEarth),WeightOnEarth.items()))
print(WeightOnMoon)

[('John', 7.440366972477065), ('Shelly', 10.747196738022426), ('Marry', 5.786952089704383)]