# 1.Manipulating Using a List.
1) To add new elements to the end of the list
2) To reverse element in the list.
3) To display the same list of elements multiple  times.
4) To concatenate two list.
5)To sort the elements in th list in ascending order.

In [1]:
lst=[5,20,40,15,4]
lst

[5, 20, 40, 15, 4]

In [2]:
#1) To add new elements to the end of the list
lst.append(6)
print('Added a element in end of list \n:',lst)

lst.extend([85,66])
print('Added multiple elements in end of list \n:',lst)

Added a element in end of list
: [5, 20, 40, 15, 4, 6]
Added multiple elements in end of list
: [5, 20, 40, 15, 4, 6, 85, 66]

In [11]:
#2)To reverse element in the list.
lst.reverse()
print('Reversed elements are \n:',lst)

Reversed elements are
: [66, 85, 6, 4, 15, 40, 20, 5]

In [12]:
#3) To display the same list of elements multiple  times.
lst=lst*4
print('Same list of elements multiple times \n:',lst)

Same list of elements multiple times
: [66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5, 66, 85, 6, 4, 15, 40, 20, 5]

In [17]:
#4)To concatenate two list.
lst1=[5,9,6]
lst2=[7,2,8]
lst1.extend(lst2)
print(lst1)

[5, 9, 6, 7, 2, 8]

In [19]:
#5)To sort the elements in th list in ascending order.
lst1.sort()
print('After sorting \n:',lst1)

After sorting
: [2, 5, 6, 7, 8, 9]

# 2.Write a python program to do in tuples.
1)Manipulate using tuples.
2)To add new elements to the end of tuples.
3)To reverse elements in the list.
4)To display the elements of the same tuple multiple times.
5)To concatentate two tuples.
6)To sort the elements in the list in ascending order.

In [33]:
tup=(4,5,6,7)
#1)Manipulate using tuples.
tup1=tup+(8,9,10)
print('Manipulated tuple is \n:',tup1)
#2)To add new elements to the end of tuples.
new_tup = (1,2,3)
tup+=new_tup
print('Added elements to end of tuple \n:',tup)
#3)To reverse elements in the list.
rev_tup=tuple(reversed(tup))
print('Reversed tuple \n:',rev_tup)
#4)To display the elements of the same tuple multiple times.
tup=tup*4
print('Same tuple multiple times \n:',tup)
#5)To concatentate two tuples.
tuple1=[5,9,6]
tuple2=[7,2,8]
concat_tup=tuple1+tuple2
print('After concatenate two tuples \n:',concat_tup)
#6)To sort the elements in the list in ascending order.
sort_tup=tuple(sorted(concat_tup))
print('After sorting \n:',sort_tup)

Manipulated tuple is
: (4, 5, 6, 7, 8, 9, 10)
Added elements to end of tuple
: (4, 5, 6, 7, 1, 2, 3)
Reversed tuple
: (3, 2, 1, 7, 6, 5, 4)
Same tuple multiple times
: (4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3)
After concatenate two tuples
: [5, 9, 6, 7, 2, 8]
After sorting
: (2, 5, 6, 7, 8, 9)

# 3.Write a python program to implement the following using list.
1)Create a list with integers(mimimum 10 numbers).
2)How to display the last number in the list.
3)Command for displaying the values from list[0:4].
4)Command for displaying the values from list[2:].
5)Command for displaying the values from list[:6].

In [42]:
#1)Create a list with integers(mimimum 10 numbers).
new_lst=[1,2,3,4,5,6,7,8,10]
print('The list is \n:',new_lst)
#2)How to display the last number in the list.
last_num=new_lst[-1]
print('The last number is \n:',last_num)
#3)Command for displaying the values from list[0:4].
values_0_to_4= new_lst[0:4]
print('Values from list[0:4] \n :', values_0_to_4)
#4)Command for displaying the values from list[2:].
values_from_2 = new_lst[2:]
print('Values from list[2:] \n :', values_from_2)
#5)Command for displaying the values from list[:6].
values_upto_length_6= new_lst[:6]
print('Valued from list[:6] \n:',values_upto_length_6)

The list is
: [1, 2, 3, 4, 5, 6, 7, 8, 10]
The last number is
: 10
Values from list[0:4]
 : [1, 2, 3, 4]
Values from list[2:]
 : [3, 4, 5, 6, 7, 8, 10]
Valued from list[:6]
: [1, 2, 3, 4, 5, 6]

# 4.Write a python program:tuple1=(10,50,20,40,30)
1)To display the elements 10 and 50 from tuple1.
2)To display the length of tuple1.
3)To find the minimum element from tuple1.
4)To add all elements in the tuple1.
5)To display the same tuple1 multiple times.

In [45]:
tuple1=(10,50,20,40,30)
# 1) To display the elements 10 and 50 from tuple1
a,b = tuple1[0],tuple1[1]
print('Elements 10 and 50 from tuple1 \n:',a,b)
# 2) To display the length of tuple1
tuple_length=len(tuple1)
print('Length of tuple1 \n:', tuple_length)
# 3) To find the minimum element from tuple1
min_tuple= min(tuple1)
print('Minimum element from tuple1 \n:',min_tuple)
# 4) To add all elements in tuple1
sum_of_tuple=sum(tuple1)
print('Sum of all elements in tuple1 \n:',sum_of_tuple)
# 5) To display the same tuple1 multiple times
multiple_times=tuple1*4
print('Same Tuple1 multiple times \n:',multiple_times)

Elements 10 and 50 from tuple1
: 10 50
Length of tuple1
: 5
Minimum element from tuple1
: 10
Sum of all elements in tuple1
: 150
Same Tuple1 multiple times
: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a python program :
1)To calculate the length of a string.
2)To reverse words in string.
3)To display the same string multiple times.
4)To concatenate two strings.
5)Str1="South India",using string slicing to display"India".

In [ ]:
5.Write a python program :
1)To calculate the length of a string.
2)To reverse words in string.
3)To display the same string multiple times.
4)To concatenate two strings.
5)Str1="South India",using string slicing to display"India".

In [50]:
# 1) To calculate the length of a string
str='Python Programming'
length_of_string=len(str)
print('Length of the string \n:',length_of_string)

# 2) To reverse words in a string
words=str.split()
rev_words = " ".join(reversed(words))
print('After reverse words in the string \n:',rev_words)

# 3) To display the same string multiple times
str_mul=str*4
print("Same string multiplied times:",str_mul)

# 4) To concatenate two strings
str2= " Language"
concate_string=str+str2
print('The Concatenated two strings are \n:',concate_string)

# 5) Str1 = "South India", using string slicing to display "India"
str1="South India"
slicing=str1[6:]
print('String slicing \n:',slicing)

Length of the string
: 18
After reverse words in the string
: Programming Python
Same string multiplied times: Python ProgrammingPython ProgrammingPython ProgrammingPython Programming
The Concatenated two strings are
: Python Programming Language
String slicing
: India

# 6.Perform the following:
1)Creating the Directory.
2)Accessing values and keys in the Directory.
3)Updating the directory using a function.
4)Clear and delete the directory values.

In [67]:
#1)Creating the Directory.
dir={'fname':'Bijivemula','lname':'Pavan','age':22,'city':'Badvel'}
print('Directory Values \n:',dir)

#2)Accessing values and keys in the Directory.
for key,value in dir.items():
    print(f"{key}:{value}")
    
# 3) Updating the directory using a function
update_age(dir,20)
print("Age:",dir["age"])

#4)Clear and delete the directory values.
dir.clear()
print('After clear the directory values :',dir)
del dir

Directory Values
: {'fname': 'Bijivemula', 'lname': 'Pavan', 'age': 22, 'city': 'Badvel'}
fname:Bijivemula
lname:Pavan
age:22
city:Badvel
Age: 20
After clear the directory values : {}
After deleting the directory values : <built-in function dir>

# 7.Python program to insert a any number to any position in a list.

In [23]:
lst = [2,18,22,64,31]
insert_number_at_position(lst,15,3)
print('After inserting in list \n:',lst)

After inserting in list
: [2, 18, 22, 15, 64, 31]

# 8.Python program to delete an element from a list by index.

In [69]:
lst5=[20,22,5,29,44]
del lst5[1]
print('After deleted an element by index :',lst5)

After deleted an element by index : [20, 5, 29, 44]

# 9.write a program to display a number from 1 to 100.

In [49]:
for num in range(1,101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in tuples.

In [51]:
tup = (9,2,6,5)
tup=sum(tup)
print('Sum pf all items:',tup)

Sum pf all items: 22

# 11.Create a directory containing lamda functions square,cube and square root.
1)E.g.dict={'Square':function for squaring,'Cube':function for cube,'Square root':function for square root}
2)Pass the values(input from the user)to the functions directory respectively.
3)Then add the outputs of each function and print it.

In [1]:
# 1)Create a directory containing lamda functions square, cube and square root.
dict={'Square':lambda x:x**2,'Cube':lambda x:x**3,'Square root':lambda x:x**0.5}

# 2)Pass the values(input from the user)to the functions directory respectively.
num=int(input('Enter number:'))

# 3)Then add the outputs of each function and print it.
print('Square of given number is:',num)
print('Cube of given number is:',num)
print('Square root of given number is:',num)

Enter number:4
Square of given number is: 4
Cube of given number is: 4
Square root of given number is: 4

# 12.A list of words is given.Find the words from the list that have their second character in uppercase.
ls=['hello','Dear','hOw','ARe','you']

In [59]:
ls=['hello','Dear','hOw','ARe','you']
for word in ls:
    if word[1].isupper():
        print(word)

hOw
ARe

# 13.A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon (wEarth GMoon)/GEarth
1)#Weight of people in kg
WeightOnEarth = ('John':45, 'Shelly':65, 'Marry':35)
2)# Gravitational force on the Moon: 1.622 m/s2
GMoon = 1.622
3)#Gravitational force on the Earth: 9.81 m/s2
GEarth = 9.81

In [67]:
WeightOnEarth={'John':45,'Shelly':65,'Marry':35}
GMoon=1.622
GEarth=9.81
WeightOnMoon=list(map(lambda x:(x[0],x[1]*GMoon/GEarth),WeightOnEarth.items()))
print(WeightOnMoon)

[('John', 7.440366972477065), ('Shelly', 10.747196738022426), ('Marry', 5.786952089704383)]

# Control Structures

# 1. Write a python program to find the first N Prime numbers.

In [1]:
number=int(input('Enter number:'))
for num in range(1,number+1):  
    if num > 1:  
        for i in range(2,num):  
            if(num%i)==0:  
                break  
        else:  
            print (num,end=' ')

Enter number:5
2 3 5

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter theBasic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [2]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print('Gross Salary:', gross_salary)
print('Tax:', tax)
print('Net Salary:', net_salary)

Enter Basic Salary: 25000
Enter HRA: 28.5
Enter TA: 520
Enter DA: 1600.5
Gross Salary: 27149.0
Tax: 2714.9
Net Salary: 24434.1

# 3. Write a python program to search for a string in the given list

In [4]:
string_list = ["Pavan", "Kiran", 22, "Vamsi",]
search_string = input("Enter a string to search for: ")
found = False
for item in string_list:
    if search_string == item:
        found = True
        break
if found:
    print(f"'{search_string}' is found in the list.")
else:
    print(f"'{search_string}' is not found in the list.")

Enter a string to search for: banana
'banana' is found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters andlower-case letters

In [7]:
def count_upper_lower_letters(input_string):
    upper_count = 0
    lower_count = 0
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count
count_upper_lower_letters('Bijivemula Pavan')

(2, 13)

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and37.

In [8]:
even_sum = 0
odd_sum = 0
for num in range(12, 38):
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num
print('Sum of even numbers between 12 and 37:', even_sum)
print('Sum of odd numbers between 12 and 37:', odd_sum)

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. Write a python Program to print the table of any number

In [11]:
n=int(input('Enter the number to print the tables:'))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7. Write a Python program to sum the first 10 prime numbers.

In [18]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True
count = 0
number = 2
sum_of_primes = 0
while count < 10:
    if is_prime(number):
        sum_of_primes += number
        count += 1
    number += 1
print('Sum of the first 10 prime numbers:', sum_of_primes)

Sum of the first 10 prime numbers: 129

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [20]:
num1 = input('Enter the first number:')
num2 = input('Enter the second number:')
operator = input('Enter an arithmetic operator:')
if num1.replace(".", "", 1).isdigit() and num2.replace(".", "", 1).isdigit():
    num1 = float(num1)
    num2 = float(num2)
    if operator == "+":
        result = num1 + num2
        print("Result:", result)
    elif operator == "-":
        result = num1 - num2
        print("Result:", result)
    elif operator == "*":
        result = num1 * num2
        print("Result:", result)
    elif operator == "/":
        if num2 != 0:
            result = num1 / num2
            print("Result:", result)
        else:
            print('Error: Division by zero is not allowed')
    else:
        print('Error: Invalid operator')
else:
    print('Error: Please enter valid numeric values')

Enter the first number:5
Enter the second number:2
Enter an arithmetic operator:*
Result: 10.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [21]:
celsius=int(input('Enter the temperature in celcius:'))
fahrenheit=(celsius*1.8)+32
print('Temperature in farenheit is:',fahrenheit)

Enter the temperature in celcius:32
Temperature in farenheit is: 89.6

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [23]:
def max_min(data):
    l = data[0]
    s = data[0]
    for num in data:
        if num> l:
            l = num
        elif num< s:
            s = num
            return l, s
print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(40, -5)

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [26]:
days= 30
hours= 24
minutes= 60
seconds= 60
seconds_in_month = days* hours* minutes* seconds
print('Number of seconds in a 30-day month:',seconds_in_month)

Number of seconds in a 30-day month: 2592000

# 12. Write a program in python to print out the number of seconds in a year.

In [25]:
days=365
hours=24
minutes=60
seconds=60
print('Number of seconds in a year :',days*hours*minutes*seconds)

Number of seconds in a year : 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [28]:
speed=150
distance=414
time=distance/speed
print(time)

2.76

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [30]:
days_in_each_school_year = 192
school_years = 5
hours_per_day = 6
total_hours_in_school = days_in_each_school_year * school_years * hours_per_day
print('Total hours spent in school from Year 7 to Year 11:',total_hours_in_school)

Total hours spent in school from Year 7 to Year 11: 5760

# 15. If the age of Ram, Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [32]:
ram_age = int(input('Enter the age of Ram:'))
sam_age = int(input('Enter the age of Sam:'))
khan_age = int(input('Enter the age of Khan:'))
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"
if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"
print('The eldest among Ram, Sam, and Khan is:',eldest)
print('The youngest among Ram, Sam, and Khan is:',youngest)

Enter the age of Ram:51
Enter the age of Sam:23
Enter the age of Khan:45
The eldest among Ram, Sam, and Khan is: Ram
The youngest among Ram, Sam, and Khan is: Sam

# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [33]:
#Using Slicing
def rotate_right_with_slicing(lst, n):
    if not lst:
        return lst
    n = n % len(lst)
    rotated_lst = lst[-n:] + lst[:-n]
    return rotated_lst
lst = input('Enter a list of elements:').split()
n = int(input('Enter the number of right rotations:'))
rotated_list = rotate_right_with_slicing(lst, n)
print('Rotated list with slicing:', rotated_list)

Enter a list of elements separated by spaces:5 10 15 22 23
Enter the number of right rotations:3
Rotated list with slicing: ['15', '22', '23', '5', '10']

In [ ]:
#Without Slicing
def rotate_right_without_slicing(lst, n):
    if not lst:
        return lst
    n = n % len(lst)
    rotated_lst = [0] * len(lst)
    for i in range(len(lst)):
        rotated_lst[(i + n) % len(lst)] = lst[i]
    return rotated_lst
lst = input('Enter a list of elements:').split()
n = int(input('Enter the number of right rotations:'))
rotated_list = rotate_right_without_slicing(lst, n)
print('Rotated list without slicing:', rotated_list)

# 17.Python program to print the patterns given below

In [36]:
#Pattern1
def pattern(n):
    for i in range(n+1):
        for j in range(n-i):
            print(end='')

    C = 1
      for j in range(1, i+1):
            print(' ',C,end='')
            C = C * (i-j) // j
            print()

pattern(7)

  1
  1  1
  1  2  1
  1  3  3  1
  1  4  6  4  1
  1  5  10  10  5  1
  1  6  15  20  15  6  1

In [40]:
#Pattern2
x=5
for i in range(x):
    for j in range(i+1):
        print("*",end='')
    print("")

*
**
***
****
*****

In [45]:
#Pattern 3
def triangle(n):
  k = n - 1
  for i in range(0,n):
    for j in range(0,k):
      print(end = " ")
    k -= 1
    for j in range (0, i+1):
      print("* ", end='')
    print("\n") 
triangle(5)

    *

   * *

  * * *

 * * * *

* * * * *

In [39]:
#Pattern 4
string='Python'
length=len(string)
for i in range(length):
    for j in range(i+1):
        print(string[j],end='')
    print()

P
Py
Pyt
Pyth
Pytho
Python